# Ignore virtual environment files
.venv/* text eol=lf

# Prevent Git from tracking large binary files
*.dll binary
*.exe binary
*.pyd binary
*.lib binary

# Prevent automatic text file line-ending conversion for specific binary files
*.pyd text eol=lf
*.pyd binary
